<div class="card my-1">
  <h4 class="card-header">Productos de la Tienda</h4>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Marca</th>
          <th scope="col">Titulo</th>
          <th scope="col">Precio</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prooduct of productsList">
          <th scope="row"><a [routerLink]="'/products/' + prooduct.id">{{ prooduct.sku }}</a></th>
          <td>{{ prooduct.brand }}</td>
          <td>{{ prooduct.name }}</td>
          <td>{{ prooduct.price }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


